<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSPDFViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DSPDFViewer.Properties.Settings>
            <setting name="PageNumber" serializeAs="String">
                <value>Page {0}</value>
            </setting>
            <setting name="SaveAsFailedText" serializeAs="String">
                <value>Could not save the PDF file to the specified location.</value>
            </setting>
            <setting name="SaveAsFailedTitle" serializeAs="String">
                <value>Could not save file</value>
            </setting>
            <setting name="SaveAsFilter" serializeAs="String">
                <value>PDF Files (*.pdf)|*.pdf|All Files (*.*)|*.*</value>
            </setting>
            <setting name="SaveAsTitle" serializeAs="String">
                <value>Save As</value>
            </setting>
        </DSPDFViewer.Properties.Settings>
    </applicationSettings>
</configuration>