<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ILG.Codex.CodexR4.CodexSettings.CodexConfigurationStatic" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ILG.Codex.CodexR4.CodexSettings.CodexStatusSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ILG.Codex.CodexR4.CodexSettings.SQLServerConfigurationStatic" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ILG.Codex.CodexR4.CodexSettings.SQLConnectionStrings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CodexProgram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CodexProgram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	
  </configSections>
  <applicationSettings>
    <ILG.Codex.CodexR4.CodexSettings.CodexStatusSettings>
      <setting name="ID_OriginalDocument" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ID_CodifiedDocument" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ID_ObsoleteDocument" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ID_ArchivedDocument" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ID_UnknowDocument" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ID_Specified" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Color_OriginalDocument" serializeAs="String">
        <value>30, 57, 91</value>
      </setting>
      <setting name="Color_CodifiedDocument" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="Color_ObsoleteDocument" serializeAs="String">
        <value>OrangeRed</value>
      </setting>
      <setting name="Color_UnknowDocument" serializeAs="String">
        <value>30, 57, 91</value>
      </setting>
      <setting name="Color_Specified" serializeAs="String">
        <value>30, 57, 91</value>
      </setting>
      <setting name="Color_Default" serializeAs="String">
        <value>30, 57, 91</value>
      </setting>
      <setting name="IconIndex_OriginalDocument" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IconIndex_CodifiedDocument" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="IconIndex_ObsoleteDocument" serializeAs="String">
        <value>56</value>
      </setting>
      <setting name="IconIndex_ArchivedDocument" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IconIndex_UnknowDocument" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IconIndex_Specified" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IconIndex_Default" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ID_DraftDocument" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Color_DraftDocument" serializeAs="String">
        <value>30, 57, 91</value>
      </setting>
      <setting name="Color_ArchivedDocument" serializeAs="String">
        <value>30, 57, 91</value>
      </setting>
      <setting name="IconIndex_DraftDocument" serializeAs="String">
        <value>0</value>
      </setting>
    </ILG.Codex.CodexR4.CodexSettings.CodexStatusSettings>
    <ILG.Codex.CodexR4.CodexSettings.SQLServerConfigurationStatic>
      <setting name="CodexDS_User_Client_SQLUserName" serializeAs="String">
        <value>CodexDSUser</value>
      </setting>
      <setting name="CodexDS_User_Client_SQLPassword" serializeAs="String">
        <value>CodexDS2007</value>
      </setting>
      <setting name="CodexDS_XUser_Client_SQLUserName" serializeAs="String">
        <value>CodexDSXUser</value>
      </setting>
      <setting name="CodexDS_XUser_Client_SQLPassword" serializeAs="String">
        <value>C0d]x#D4$2K16cd!</value>
      </setting>
      <setting name="CodexDS_DefaultDB" serializeAs="String">
        <value>Codex2007DS</value>
      </setting>
    </ILG.Codex.CodexR4.CodexSettings.SQLServerConfigurationStatic>
    <ILG.Codex.CodexR4.CodexSettings.SQLConnectionStrings>
      <setting name="IsConnectionString" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="App_CodexDS_ConnectionString" serializeAs="String">
        <value />
      </setting>
    </ILG.Codex.CodexR4.CodexSettings.SQLConnectionStrings>
  </applicationSettings>
  <userSettings>
    <CodexProgram.Properties.Settings>
      <setting name="TemporaryDir" serializeAs="String">
        <value />
      </setting>
      <setting name="CodexDocumentDir" serializeAs="String">
        <value />
      </setting>
    </CodexProgram.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
</configuration>